
<nav class="navbar navbar-expand-lg" style="background-color: gold; width: 100%;" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="../../index.html">Sistema</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="../home/home.html" style="color: aliceblue;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../pessoa/cadPessoa.html" style="color: aliceblue;">Cad Pessoa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../pessoa/conPessoa.html" style="color: aliceblue;">Con Pessoa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../produto/cadProduto.html" style="color: aliceblue;">Cad Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../produto/conProduto.html" style="color: aliceblue;">Con Produto</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success" type="submit" style="background-color:blue ;">Search</button>
        </form>
      </div>
    </div>
  </nav>